.address {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.address__wrapper {
  display: grid;
  padding: 26px 20px;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  background-color: #ffffff;
  justify-items: center;

  &--background {
    background-color: #f2f2f2;
  }

  @media (min-width: $tablet-width) {
    gap: 296px;
    padding: 56px 58px;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
    width: 408px;
    padding: 45px 77px 61px 78px;
    position: absolute;
    top: 95px;
    left: 110px;
    gap: 90px;

    &--background {
      background-color: $white;
    }
  }
}

.address__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__description {
  font-family: "Lato Regular", "Arial", sans-serif;
  font-style: normal;
  line-height: 20px;
  text-align: end;

  @media (min-width: $tablet-width) {
    padding-right: 13px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    text-align: start;
  }
}

.address__city {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 15px;
  }
}

.address__location {
  width: 100%;
  margin: 0;
  display: block;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
