.advantages {
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__wrapper {
  margin: 0 20px 49px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 30px 107px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 90px;
  }
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 74px;
  }
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 88px 148px;
    counter-reset: index;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
  }
}

.advantages__item {
  padding-left: 80px;
  position: relative;

  &--leaf {
    background-image: url("../img/mobile-images/advantages/leaf.svg");
    background-repeat: no-repeat;
  }

  &--powder {
    background-image: url("../img/mobile-images/advantages/powder.svg");
    background-repeat: no-repeat;
  }

  &--food {
    background-image: url("../img/mobile-images/advantages/kitchen-appliances.svg");
    background-repeat: no-repeat;
  }

  &--time {
    background-image: url("../img/mobile-images/advantages/alarm-clock.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &::before {
      position: absolute;
      right: 37px;
      font-size: 280px;
      line-height: 280px;
      top: -56px;
      counter-increment: index;
      content: counters(index, ".", decimal) " ";
      color: #f2f2f2;
      z-index: -1;
    }
  }
}

.advantages__description {
  margin: 0;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    padding: 117px 0 57px;
  }
}
