.all-product {
  text-align: center;
  padding: 78px 20px 25px;
  color: #444444;
  position: relative;
  border-top: 1px solid #ebebeb;

  &::before {
    background-image: url("../img/mobile-images/plus.svg");
    position: absolute;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    content: "";
    top: 25px;
    left: 46%;
  }

  @media (min-width: $tablet-width) {
    padding: 39px 37px;
    border: 1px solid #ebebeb;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.all-product__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 8px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding: 122px 57px 23px 58px;
  }

  @media (min-width: $tablet-width) {
    padding: 160px 55px 23px 56px;
  }
}

.all-product__description {
  font-family: "Lato Regular", "Arial", sans-serif;
  margin: 0;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    line-height: 18px;
    padding: 0 42px 87px;
  }
}

.all-product__button-order {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  display: block;

  @include link;

  background-color: #f2f2f2;
  text-transform: uppercase;
  padding: 10px 94px;

  @media (min-width: $tablet-width) {
    padding: 10px 79px;
  }

  @media (min-width: $tablet-width) {
    padding: 13px 30px;
    margin: 38px 41px;
  }
}
