.all-product {
  text-align: center;
  padding: 78px 0 25px;
}

.all-product__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 8px;
}

.all-product__description {
  margin: 0;
  padding-bottom: 21px;
}

.all-product__button-order {
  font-size: 16px;
  line-height: 20px;

  @include link;

  background-color: #f2f2f2;
  text-transform: uppercase;
  padding: 10px 94px;
}
