.catalog-product-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 0 41px 20px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 64px 0 163px;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 0 165px 110px;
  }
}
