.comment {
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 23px;
}

.сomment__title {
  font-family: "Owsald regular", sans-serif;
  font-size: 24px;
  line-height: 26px;
  padding: 0 0 38px;
}

.сomment__user {

}

.сomment__user-field {
  width: 245px;
  height: 151px;
  padding: 0;
}
