.example {
  width: 100%;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    height: 580px;
    width: 100%;
    background-color: #eaeaea;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::before {
      height: 462px;
    }
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 2500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__wrapper {
  padding: 25px 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 75px;
    position: relative;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 63px;
  }
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  padding: 14px 0 7px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 0 7px;
  }
}

.example__description {
  font-family: "Lato Regular", "Arial", sans-serif;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 69px;
  }
}

.example__wrapper-result {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 366px auto;
    padding-bottom: 91px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
  }
}

.example__result-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    gap: 42px;
  }
}

.example__result-item {
  width: 124px;
  box-sizing: border-box;
  height: 56px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
  }
}


.example__number-description {
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  background-color: #eaeaea;
  display: inline-block;
  padding: 0 9px;
  width: 84px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 142px;
    padding: 0;
  }
}

.example__cost {
  line-height: 20px;
  text-align: end;
  margin: 0;
  padding-bottom: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.example__line-folding {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.example__current-cost {
  padding-left: 63px;
}
