.footer-logo-cat-energy__title {
  padding: 39px 5px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 143px;
    height: 26px;
  }

  @media (min-width: $tablet-width) {
    width: 143px;
    height: 26px;
  }
}
