.form {

}

.form__label {
  font-family: "Owsald regular", sans-serif;
  font-size: 16px;

  &--weight {
    grid-column: 1 / 4;
  }

  &--age {
    grid-column: 1 / 5;
  }
}

.form__input {
  font-family: "Owsald regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 20px;
  box-sizing: border-box;

  &--name {
    grid-column-start: 3;
    grid-column-end: 6;
  }

  &--weight {
    grid-column: 4 / 6;
  }

  &--age {
    grid-column: 5 / 6;
  }

}
