.form {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 82px;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
    padding: 0 0 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 69px;
  }
}

.form__wrapper-cat-information {
  display: flex;
  align-items: center;
}

.form__label {
  font-size: 16px;
  padding-right: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--weight {
    padding-right: 21px;

    @media (min-width: $desktop-width) {
      padding-right: 30px;
    }
  }

  &--age {
    padding-right: 18px;

    @media (min-width: $desktop-width) {
      padding-right: 20px;
    }
  }
}

.form__container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  border: 1px solid #cdcdcd;
  padding: 14px 15px;

  @media (min-width: $tablet-width) {
    padding: 11px 19px;
  }
}

.form__input {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  // padding: 14px 20px;
  flex-grow: 1;
  border: none;
  padding: 0;

  &--cat-data {
    border: 1px solid #e7e7e7;
    padding: 14px 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
  }
}

.form__contact {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  row-gap: 14px;
  position: relative;
  padding: 0 20px 24px;

  &::before {
    content: "";
    width: 27%;
    height: 2px;
    position: absolute;
    background-color: #68b738;
    left: 73%;
    bottom: 150%;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 65px;

    &::before {
      content: "";
      padding: 0 30px;
      width: 112%;
      bottom: 142%;
      left: -11%;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding: 0 0 67px;
    gap: 78px;

    &::before {
      width: 115%;
      bottom: 162%;
    }
  }
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  padding: 0 0 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 71px;
    background-color: #ffffff;
    padding-left: 39px;
    padding-right: 39px;
    margin-left: -41px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -41px;
  }
}

.form__title-background {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__wrapper-host {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.form__request {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: $white;
  background-color: #68b738;
  cursor: pointer;
  padding: 7px 44px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 13px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 13px 188px;
  }
}

.form__mandatory-field {
  font-family: "Lato Regular", "Arial", sans-serif;
  line-height: 16px;
  text-align: center;
  margin: 0;
  padding: 21px 0 32px;
}
