.form-container {
  @media (min-width: $tablet-width) {
    padding: 60px 30px 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 0 53px;
    max-width: 2500px;
    margin: 0 auto;
  }
}
