.form-description {
  margin: 0;
  text-transform: uppercase;
  padding: 0 20px 39px;

  @media (min-width: $tablet-width) {
    padding: 0 0 54px 39px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 66px;
    max-width: 2500px;
    margin: 0 auto;
  }
}
