.functional-food {
  background-color: rgba(104, 183, 56, 0.85);

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.functional-food__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 68px 0 0 89px;
    position: relative;
    display: block;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 82px 190px;
  }
}

.functional-food__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 35px 25px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    padding: 0 0 41px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 40px;
  }
}

.functional-food__slogan {
  line-height: 14px;
  margin: 0;
  padding: 0 62px 0;
  color: $white;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    padding: 0 0 21px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 52px;
  }
}

.functional-food__program-button {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
  width: 280px;
  padding: 7px 44px;
  background-color: rgba(104, 183, 56, 0.85);
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    padding: 14px 26px;
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    left: 87px;
  }

  @media (min-width: $desktop-width) {
    left: 189px;
  }
}
