.main-header {
  padding: 10px 20px 17px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.main-header__logo-image {
  padding-right: 57px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-title {
  padding-right: 65px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
