.page-footer__container {
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 62px 30px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px 58px;
    margin: 0 auto;
    max-width: 2500px;
  }
}

.page-footer__logo {
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 22px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin: 0;
  }
}

.page-footer__logo:hover .page-footer__logo-image {
  color: #68b738;
}

.page-footer__logo-title {
  @media (min-width: $tablet-width) {
    padding-right: 27px;
  }
}

.page-footer__logo-image {
  color: #666666;
}
