.page-footer {

}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 0 20px;
}

.page-footer__wrapper-htmlacademy {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 280px;
  align-items: center;
}

.page-footer__logo {


}

.page-footer__logo-title {

}

.page-footer__logo-image {

}
