.programs {
  padding: 0 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 71px;
  }
}

.programs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__item {
  background-color: #f2f2f2;
  margin-top: 20px;
  padding: 30px 20px 22px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 81px 28px 53px 52px;
    display: grid;
    grid-template-columns: 330px auto;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 41px 65px 61px 52px;
  }
}

.programs__cat {
  position: absolute;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    right: 0;
    bottom: 25%;
    right: 7%;
  }
  @media (min-width: $desktop-width) {
    width: 134px;
    height: 106px;
    left: 52px;
    top: 18px;
  }
}

.programs__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  padding: 0 0 29px 91px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 73px 162px;
  }
}

.programs__description {
  font-family: "Lato Regular", "Arial", sans-serif;
  margin: 0;
  padding: 0 0 42px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    grid-row-start: 2;
    padding: 0 0 48px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 23px;
  }
}

.programs__catalog-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  line-height: 16px;
  font-size: 16px;
  display: block;
  width: 139px;
  padding: 4px 56px 4px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 4px 57px 4px 0;
    width: 165px;
    box-sizing: border-box;
    grid-row-start: 3;
    position: relative;
  }
}

.programs__arrow {
  padding-left: 15px;
  transform: scaleX(1);
  transform-origin: center left;
  transition: transform 0.5s;
  &:hover {
    transform: scaleX(1.4);
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 13px;
  }
}
