.program-selection {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
  }
}

.program-selection__list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 26px 20px 8px;
  gap: 6px;

  @media (min-width: $tablet-width) {
    padding: 29px 28px;
    row-gap: 13px;
    border: 1px solid #e7e7e7;
    gap: 23px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 28px;
  }
}

.program-selection__item {
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.program-selection__label {
  position: relative;
}

.program-selection__input {
  margin: 0;

  @include visually-hidden;

  &:focus-within + .program-selection__control-mark {
    outline: 2px solid #000000;
  }

  &:hover + .program-selection__control-mark {
    outline: 1px solid #bababa;
  }

  &:disabled + .program-selection__control-mark {
    opacity: 0.3;
  }
}

.program-selection__input[type="radio"]:checked + .program-selection__control-mark::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: $tablet-width) {
  .program-selection__input[type="radio"]:checked + .program-selection__control-mark::before {
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.program-selection__control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  content: "";
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  left: 0;
  top: -3px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.program-selection__text {
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    line-height: 30px;
    font-size: 20px;
    padding-left: 58px;
  }
}
