.program-selection {
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
  }
}

.program-selection__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding-bottom: 75px;
    row-gap: 13px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 28px;
  }
}

.program-selection__item {
  padding-bottom: 13px;
}

.program-selection__input {
  margin: 0;
}

.program-selection__text {
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 15px;
}
