.promo-present {
  text-align: center;
  margin: 35px 20px 0;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/mobile-images/carrying-case.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  height: 290px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/mobile-images/carrying-case@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 290px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin: 67px 0 73px;
    justify-content: space-between;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/tablet-images/carrying-case.png");
    height: 202px;
    padding: 0 78px;
    gap: 0;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/tablet-images/carrying-case@2x.png");
      background-size: auto 202px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: end;
    margin: 0;
    padding: 0;
    gap: 0;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/desktop-images/carrying-case.png");
    height: 289px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/desktop-images/carrying-case@2x.png");
      background-size: auto 289px;
    }
  }
}

.promo-present__icon-gift {
  @media (min-width: $tablet-width) {
    padding: 57px 0 60px 77px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.promo-present__description {
  font-family: "Lato Regular", "Arial", sans-serif;
  line-height: 20px;
  font-size: 16px;
  margin: 0;
  padding: 48px 61px 43px 58px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 30%;
    text-align: start;
    padding: 71px 42px 69px 174px;
  }

  @media (min-width: $desktop-width) {
    padding: 46px 42px 42px;
    text-align: center;
    width: 161px;
  }
}
