.site-list {
  list-style-type: none;
}

.site-list__item {
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  padding: 17px 0 11px 33px;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 17px 0 11px 33px;
  }
}

.site-list__name-link {
  @include link;

  @media (min-width: $tablet-width) {
    padding: 0;

    &--current::before {
      content: "";
      position: absolute;
      height: 2px;
      background-color: #68b738;
      width: calc(100% - 34px);
      z-index: 1;
      bottom: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 30px;
    font-size: 20px;
    color: $white;

    &--current::before {
      background-color: #ffffff;
      bottom: -12px;
    }

    &--user {
      color: #111111;
    }

    &--current-user::before {
      content: "";
      position: absolute;
      height: 2px;
      background-color: #68b738;
      width: calc(100% - 34px);
      z-index: 1;
      bottom: -10px;
    }
  }
}
