.site-list {
  list-style-type: none;
}

.site-list__item {
  padding: 22px 0 24px;
  border-top: 1px solid #e6e6e6;
  position: relative;

  @media (min-width: $tablet-width) {
    border: none;
    &:not(:last-child) {
      padding-right: 34px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.site-list__name-link {
  @include link;

  @media (min-width: $tablet-width) {
    padding: 22px 0 24px;
    &--current::before {
      content: "";
      position: absolute;
      height: 2px;
      background-color: #68b738;
      width: calc(100% - 34px);
      z-index: 1;
      bottom: 12px;
    }

    // &--user {
    //   color: #111111;
    // }
  }

  @media (min-width: $desktop-width) {
    line-height: 30px;
    font-size: 20px;
    color: $white;
    &--current::before {
      background-color: #ffffff;
      bottom: -12px;
    }

    &--user {
      color: #111111;
    }

    &--current-user::before {
      content: "";
      position: absolute;
      height: 2px;
      background-color: #68b738;
      width: calc(100% - 34px);
      z-index: 1;
      bottom: -10px;
    }
  }
}
