.slider-cat {
  text-align: center;

  @media (min-width: $desktop-width) {
    position: absolute;
    right: -90%;
    top: 0;
  }
}

.slider-cat__weight-image {
  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    height: 512px;
  }
}

.slider-cat__slim-image {
  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    height: 512px;
  }
}
