.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 132px;
  gap: 24px;
  flex-wrap: wrap;
}

.social-list__item {
  list-style-type: none;
}

.social-list__link {
  text-decoration: none;
  color: #000000;
}
