.wrapper-data {
  display: flex;
  flex-direction: column;
  padding: 0 20px 24px;
  row-gap: 10px;

  @media (min-width: $tablet-width) {
    padding: 0;
    row-gap: 19px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
