.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: #000000;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
.main-body {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  min-width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-body {
    font-size: 16px;
    line-height: 24px;
  }
}

.main-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  z-index: 1;
  text-align: center;
}
@media (min-width: 768px) {
  .main-header {
    display: flex;
    justify-content: space-between;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 0 20px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding: 53px 110px 29px;
    margin: 0 auto;
    max-width: 2500px;
  }
}

.main-header__logo-image {
  padding-right: 52px;
}
.main-header__logo-image:hover {
  opacity: 0.8;
}
.main-header__logo-image:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .main-header__logo-image {
    padding-left: 10px;
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .main-header__logo-image {
    width: 202px;
    height: 59px;
    padding: 0;
  }
}

.main-header__logo-title {
  padding: 0 0 7px;
}
.main-header__logo-title:hover {
  opacity: 0.8;
}
.main-header__logo-title:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .main-header__logo-title {
    padding: 0;
    display: none;
  }
}

.main-header__wrapper-logo {
  padding: 12px 65px 17px 20px;
  display: flex;
}
@media (min-width: 768px) {
  .main-header__wrapper-logo {
    padding: 0;
    border: none;
    margin-right: 200px;
  }
}

.main-navigation {
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
@media (min-width: 768px) {
  .main-navigation {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .main-navigation {
    min-width: 720px;
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  right: 0;
  top: 0;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}

@media (max-width: 767px) {
  .main-navigation--opened .main-navigation__wrapper {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
  }
  .main-navigation--closed .main-navigation__list {
    display: none;
  }
  .main-navigation--nojs .main-navigation__wrapper {
    position: static;
  }
  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }
}
.main-navigation--closed .main-navigation__toggle:active::before,
.main-navigation--closed .main-navigation__toggle:hover::before {
  opacity: 0.6;
}

.main-navigation--opened .main-navigation__toggle {
  right: 20px;
  top: -46px;
}
.main-navigation--opened .main-navigation__toggle::before, .main-navigation--opened .main-navigation__toggle::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: #000000;
  left: 1px;
}
.main-navigation--opened .main-navigation__toggle::before {
  transform: rotate(45deg);
}
.main-navigation--opened .main-navigation__toggle::after {
  transform: rotate(-45deg);
}

.main-navigation__toggle {
  position: absolute;
  top: -40px;
  width: 26px;
  height: 16px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  right: 18px;
  padding: 0;
}
@media (min-width: 768px) {
  .main-navigation__toggle {
    display: none;
  }
}

@media (min-width: 1440px) {
  .main-navigation__wrapper {
    margin-left: 200px;
  }
}

.main-navigation__list {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .main-navigation__list {
    display: flex;
  }
}
@media (min-width: 1440px) {
  .main-navigation__list {
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

.site-list {
  list-style-type: none;
}

.site-list__item {
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  padding: 21px 0 23px;
}
.site-list__item:first-child {
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-list__item {
    border: none;
    padding: 17px 8px 11px 31px;
  }
  .site-list__item:first-child {
    border: none;
  }
}
@media (min-width: 768px) {
  .site-list__item {
    padding: 17px 3px 11px 31px;
  }
}

.site-list__name-link {
  text-decoration: none;
  color: #000000;
}
@media (min-width: 768px) {
  .site-list__name-link {
    padding: 0;
  }
  .site-list__name-link--current::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #68b738;
    width: calc(100% - 34px);
    z-index: 1;
    bottom: 0;
  }
}
@media (min-width: 1440px) {
  .site-list__name-link {
    line-height: 30px;
    font-size: 20px;
    color: #ffffff;
  }
  .site-list__name-link--current::before {
    background-color: #ffffff;
    bottom: 3px;
  }
  .site-list__name-link--user {
    color: #111111;
  }
  .site-list__name-link--current-user::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #68b738;
    width: calc(100% - 34px);
    z-index: 1;
    bottom: -10px;
  }
}

@media (min-width: 1440px) {
  .main-container::before {
    position: absolute;
    content: "";
    width: 50%;
    left: 50%;
    height: 694px;
    background-color: #68b738;
    z-index: -1;
    top: 0;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/desktop-images/cat.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }
}
@media (min-width: 1440px) and (min-resolution: 2dppx) {
  .main-container::before {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/desktop-images/cat@2x.png");
    background-size: cover;
  }
}

.functional-food {
  position: relative;
}
.functional-food::before {
  width: 100%;
  content: "";
  height: 302px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/mobile-images/cat.png"), linear-gradient(rgba(14, 20, 10, 0.85), rgba(38, 70, 20, 0.85), rgba(14, 20, 10, 0.85));
  position: absolute;
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
}
@media (min-resolution: 2dppx) {
  .functional-food::before {
    background-size: 320px auto;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/mobile-images/cat@2x.png"), linear-gradient(rgba(14, 20, 10, 0.85), rgba(38, 70, 20, 0.85), rgba(14, 20, 10, 0.85));
  }
}
@media (min-width: 768px) {
  .functional-food {
    background-image: none;
  }
  .functional-food::before {
    background-image: none;
  }
}

.functional-food__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .functional-food__wrapper {
    position: relative;
    display: block;
  }
}
@media (min-width: 1440px) {
  .functional-food__wrapper {
    padding: 0 0 10px 190px;
    margin: 0 auto;
    max-width: 2500px;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
  }
}

.functional-food__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 35px 25px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .functional-food__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding: 62px 30px 41px 118px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .functional-food__title {
    padding: 78px 0 40px;
  }
}

.functional-food__slogan {
  line-height: 14px;
  margin: 0;
  padding: 0 61px 0;
  color: #ffffff;
  padding-bottom: 29px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .functional-food__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding: 0 30px 20px 120px;
  }
}
@media (min-width: 1440px) {
  .functional-food__slogan {
    padding: 0 0 52px;
    grid-row-start: 2;
  }
}

.functional-food__image {
  padding-bottom: 3px;
}
@media (min-width: 768px) {
  .functional-food__image {
    padding: 0 29px;
    width: 709px;
    height: 609px;
    display: block;
  }
}
@media (min-width: 1440px) {
  .functional-food__image {
    position: absolute;
    top: 0;
    left: 37%;
    width: 552px;
    height: 499px;
  }
}

.functional-food__program-button {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
  width: 280px;
  padding: 7px 44px;
  background-color: rgb(104, 183, 56);
  text-align: center;
}
@media (min-width: 768px) {
  .functional-food__program-button {
    position: absolute;
    padding: 14px 26px;
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    left: 120px;
    top: 297px;
  }
}
@media (min-width: 1440px) {
  .functional-food__program-button {
    position: static;
    margin-bottom: 267px;
    grid-row-start: 3;
  }
}

.programs {
  padding: 0 20px 20px;
}
@media (min-width: 768px) {
  .programs {
    padding: 0 30px 45px;
  }
}
@media (min-width: 1440px) {
  .programs {
    padding: 0 110px 52px;
  }
}

@media (min-width: 1440px) {
  .programs__container {
    max-width: 2500px;
    margin: 0 auto;
  }
}

.programs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .programs__list {
    display: grid;
    row-gap: 30px;
  }
}
@media (min-width: 1440px) {
  .programs__list {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__item {
  background-color: #f2f2f2;
  margin-top: 20px;
  padding: 30px 20px 22px;
  position: relative;
}
@media (min-width: 768px) {
  .programs__item {
    margin: 0;
    padding: 77px 28px 53px 52px;
    display: grid;
    grid-template-columns: 336px auto;
  }
}
@media (min-width: 1440px) {
  .programs__item {
    display: grid;
    margin-bottom: 0;
    padding: 72px 52px;
    grid-template-columns: 100px 1fr;
    column-gap: 62px;
    align-items: center;
  }
}

.programs__cat {
  position: absolute;
}
@media (min-width: 768px) {
  .programs__cat {
    width: 268px;
    height: 200px;
    bottom: 22%;
    right: 4%;
  }
}
@media (min-width: 1440px) {
  .programs__cat {
    width: 134px;
    height: 106px;
    left: 36px;
    top: 37px;
  }
}

.programs__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  padding: 0 0 33px 71px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .programs__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 24px;
  }
}
@media (min-width: 1440px) {
  .programs__title {
    grid-column: 2/3;
    padding: 0;
  }
}

.programs__description {
  font-family: "Lato Regular", "Arial", sans-serif;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 0 21px 0;
}
@media (min-width: 768px) {
  .programs__description {
    grid-row-start: 2;
    padding: 0 0 48px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .programs__description {
    padding: 0 0 21px;
    grid-column: 1/3;
    margin-top: 75px;
  }
}

.programs__catalog-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  line-height: 16px;
  font-size: 16px;
  display: block;
  width: 139px;
  padding: 15px 64px 4px 0;
}
@media (min-width: 768px) {
  .programs__catalog-link {
    font-size: 20px;
    line-height: 30px;
    padding: 4px 57px 4px 0;
    width: 165px;
    box-sizing: border-box;
    grid-row-start: 3;
    position: relative;
  }
}

.programs__arrow {
  padding-left: 15px;
  transform: scaleX(1);
  transform-origin: center left;
  transition: transform 0.5s;
}
.programs__arrow:hover {
  transform: scaleX(1.4);
}
@media (min-width: 768px) {
  .programs__arrow {
    position: absolute;
    top: 11px;
    padding-left: 25px;
  }
}

.advantages {
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .advantages {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__wrapper {
  margin: 0 20px 49px;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    margin: 0;
    padding: 0 117px 57px 30px;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1440px) {
  .advantages__wrapper {
    margin: 0 auto;
    max-width: 2500px;
    border: none;
    padding: 0 110px 82px;
  }
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-bottom: 38px;
  font-family: "Oswald", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    padding: 3px 0 71px;
  }
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .advantages__list {
    grid-template-columns: 1fr 1fr;
    counter-reset: index;
    gap: 88px 138px;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
  }
}

.advantages__item {
  padding-left: 80px;
  position: relative;
  background-repeat: no-repeat;
}
.advantages__item--leaf {
  background-image: url("../img/mobile-images/advantages/leaf.svg");
}
.advantages__item--powder {
  background-image: url("../img/mobile-images/advantages/powder.svg");
}
.advantages__item--food {
  background-image: url("../img/mobile-images/advantages/kitchen-appliances.svg");
}
.advantages__item--time {
  background-image: url("../img/mobile-images/advantages/alarm-clock.svg");
}
@media (min-width: 768px) {
  .advantages__item {
    padding: 0;
  }
  .advantages__item--leaf {
    background-image: url("../img/tablet-images/advantages/leaf.svg");
  }
  .advantages__item--powder {
    background-image: url("../img/tablet-images/advantages/powder.svg");
  }
  .advantages__item--food {
    background-image: url("../img/tablet-images/advantages/kitchen-appliances.svg");
  }
  .advantages__item--time {
    background-image: url("../img/tablet-images/advantages/alarm-clock.svg");
  }
  .advantages__item::before {
    position: absolute;
    right: -21px;
    font-size: 280px;
    line-height: 280px;
    top: -47px;
    counter-increment: index;
    content: counters(index, ".", decimal) " ";
    color: #f2f2f2;
    z-index: -1;
  }
}

.advantages__line-folding {
  display: none;
}
@media (min-width: 768px) {
  .advantages__line-folding {
    display: block;
  }
}

.advantages__description {
  margin: 0;
  min-height: 60px;
}
@media (min-width: 768px) {
  .advantages__description {
    padding: 112px 0 45px;
  }
}

.example {
  width: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 41px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    padding: 0;
  }
  .example::before {
    height: 462px;
  }
}

@media (min-width: 1440px) {
  .example__container {
    margin: 0 auto;
    max-width: 2500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__wrapper {
  padding: 25px 20px 0 20px;
}
@media (min-width: 768px) {
  .example__wrapper {
    padding: 0 30px 100px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    position: relative;
    padding: 0 110px 90px;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 25px 20px 15px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding: 38px 30px 64px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 2500px;
    padding: 0 400px 74px 110px;
  }
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  padding: 14px 0 7px;
}
@media (min-width: 768px) {
  .example__number {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 0 7px;
  }
}

.example__description {
  font-family: "Lato Regular", "Arial", sans-serif;
  margin: 0;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .example__description {
    padding-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .example__description {
    padding: 70px 0 69px;
  }
}

@media (min-width: 768px) {
  .example__wrapper-result {
    display: grid;
    grid-template-columns: 366px auto;
    padding-bottom: 70px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper-result {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
  }
}

.example__result-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 34px;
}
@media (min-width: 768px) {
  .example__result-list {
    justify-content: flex-start;
    gap: 42px;
  }
}

.example__result-item {
  width: 124px;
  box-sizing: border-box;
  height: 56px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .example__result-item {
    width: 162px;
    height: 72px;
  }
}

.example__number-description {
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  background-color: #eaeaea;
  display: inline-block;
  padding: 0 9px;
  width: 84px;
}
@media (min-width: 768px) {
  .example__number-description {
    font-size: 14px;
    line-height: 14px;
    width: 142px;
    padding: 0;
  }
}

.example__cost {
  line-height: 20px;
  margin: 0;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .example__cost {
    font-size: 20px;
    padding: 11px 0 0;
    text-align: end;
  }
}
@media (min-width: 1440px) {
  .example__cost {
    display: flex;
    padding: 26px 0 0;
  }
}

.example__line-folding {
  display: none;
}
@media (min-width: 768px) {
  .example__line-folding {
    display: block;
  }
}

@media (min-width: 768px) {
  .example__current-cost {
    display: block;
    padding: 9px 0 0;
  }
}
@media (min-width: 768px) {
  .example__current-cost {
    padding: 0 66px 0;
  }
}

.compare {
  margin: 0 auto;
  --curtain-place: 0.5;
}

.compare__image {
  display: block;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.slider-cat {
  text-align: center;
  display: grid;
  grid-template-columns: calc(var(--curtain-place) * 100%) auto calc((1 - var(--curtain-place)) * 100%);
  width: min(100%, 560px);
  aspect-ratio: 280/256;
}
@media (min-width: 1440px) {
  .slider-cat {
    position: absolute;
    right: -85%;
    top: -135px;
  }
}

.slider-cat__image {
  display: block;
  height: 100%;
  object-fit: cover;
}
.slider-cat__image--state-before {
  object-position: left;
}
.slider-cat__image--state-after {
  object-position: right;
}

.slider-cat__curtain {
  z-index: 1;
  display: grid;
  place-items: center;
  margin: 0 -2px;
  width: 4px;
  height: 100%;
  border-radius: 2px;
  color: var(--curtain-color, #666666);
  background-color: currentColor;
  cursor: col-resize;
  transition: color 0.2s, opacity 0.2s;
}
.slider-cat__curtain:hover {
  --curtain-color: #68b738;
}
.slider-cat__curtain:active {
  opacity: 0.6;
}

.slider-cat__button-before-after {
  box-sizing: border-box;
  display: grid;
  margin: -18px;
  padding: 0;
  width: 40px;
  height: 40px;
  color: inherit;
  border: 2px solid currentColor;
  border-radius: 20px;
  background-color: #ffffff;
  cursor: col-resize;
  position: relative;
}

.slider-cat__arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-footer__container {
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 62px 30px 55px;
  }
}
@media (min-width: 1440px) {
  .page-footer__wrapper {
    padding: 57px 110px 58px;
    margin: 0 auto;
    max-width: 2500px;
  }
}

.page-footer__logo {
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .page-footer__logo {
    justify-content: flex-end;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .page-footer__logo-title {
    padding-right: 27px;
  }
}

@media (min-width: 1440px) {
  .address {
    position: relative;
  }
}

.address__wrapper {
  display: grid;
  padding: 26px 20px;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  background-color: #ffffff;
  justify-items: center;
}
.address__wrapper--background {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .address__wrapper {
    gap: 296px;
    padding: 56px 58px;
  }
}
@media (min-width: 1440px) {
  .address__wrapper {
    background-color: #ffffff;
    width: 408px;
    padding: 45px 77px 61px 78px;
    position: absolute;
    top: 95px;
    left: 110px;
    gap: 90px;
  }
  .address__wrapper--background {
    background-color: #ffffff;
  }
}

.address__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .address__title {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__description {
  font-family: "Lato Regular", "Arial", sans-serif;
  font-style: normal;
  line-height: 20px;
  text-align: end;
}
@media (min-width: 768px) {
  .address__description {
    padding-right: 13px;
  }
}
@media (min-width: 768px) {
  .address__description {
    padding: 0;
    text-align: start;
  }
}

@media (min-width: 768px) {
  .address__city {
    display: block;
    padding-top: 15px;
  }
}

.address__location {
  width: 100%;
  margin: 0;
  display: block;
}
@media (min-width: 768px) {
  .address__location {
    height: 400px;
  }
}

.footer-logo-cat-energy__title {
  padding: 39px 5px 20px;
}
@media (min-width: 768px) {
  .footer-logo-cat-energy__title {
    padding: 0;
    width: 143px;
    height: 26px;
  }
}

.social-list {
  margin: 0;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  justify-content: center;
}
@media (min-width: 768px) {
  .social-list {
    padding: 0;
    border: none;
  }
}

.social-list__item {
  list-style-type: none;
}

.social-list__link {
  text-decoration: none;
  color: #000000;
}

@media (min-width: 768px) {
  .catalog-page {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .catalog-page {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .catalog-page__container {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .catalog-page__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 2500px;
    padding: 0 110px;
    margin: 0 auto;
  }
}

.catalog-product-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 0 41px 20px;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .catalog-product-title {
    padding: 64px 0 82px;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .catalog-product-title {
    padding: 74px 110px 84px;
    max-width: 2500px;
    margin: 0 auto;
  }
}

.catalog-product__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 25px;
}
@media (min-width: 768px) {
  .catalog-product__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 141px 60px;
    padding-bottom: 68px;
  }
}
@media (min-width: 1440px) {
  .catalog-product__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 143px 80px;
    padding-bottom: 75px;
  }
}

.catalog-product__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 23px;
  border-top: 1px solid #d9d9d9;
  position: relative;
}
@media (min-width: 768px) {
  .catalog-product__item {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: none;
    gap: 0;
  }
  .catalog-product__item::before {
    content: "";
    width: 100%;
    height: 430px;
    background-color: #f2f2f2;
    top: 31px;
    position: absolute;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .catalog-product__item {
    padding: 0;
    z-index: 1;
  }
}

.catalog-product__link {
  text-decoration: none;
  color: #000000;
}

.catalog-product__link-image {
  grid-row: 1/3;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog-product__link-image {
    min-height: 206px;
  }
}

.catalog-product__image {
  padding-top: 19px;
}
@media (min-width: 768px) {
  .catalog-product__image {
    position: static;
    width: 168px;
    height: 200px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .catalog-product__image {
    width: 172px;
    height: 196px;
  }
}

.catalog-product__title-cat-energy {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #222222;
  padding-top: 19px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-product__title-cat-energy {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 34px 73px 21px 78px;
  }
}
@media (min-width: 1440px) {
  .catalog-product__title-cat-energy {
    line-height: 21px;
    padding: 46px 45px 22px 55px;
  }
}

@media (min-width: 768px) {
  .catalog-product__background {
    display: none;
  }
}

.catalog-product__button-order {
  grid-row-start: 3;
  grid-column: 1/3;
  text-align: center;
  text-decoration: none;
  color: #000000;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
  padding: 10px 109px;
  text-transform: uppercase;
  margin: 0 20px;
}
@media (min-width: 768px) {
  .catalog-product__button-order {
    margin: 33px 37px 39px;
    padding: 10px 93px;
  }
}
@media (min-width: 768px) {
  .catalog-product__button-order {
    padding: 10px 53px;
  }
}

.characteristic {
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  color: #444444;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 6px;
}
@media (min-width: 768px) {
  .characteristic {
    font-size: 16px;
    gap: none;
  }
}

@media (min-width: 768px) {
  .characteristic__title {
    margin-left: 38px;
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .characteristic__title {
    margin-left: 41px;
  }
}

.characteristic__description {
  padding: 0;
  margin: 0 20px 0 0;
  width: 100%;
  justify-self: end;
  text-align: end;
}
@media (min-width: 768px) {
  .characteristic__description {
    margin: 0 37px 0 0;
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .characteristic__description {
    margin: 0 40px 0 0;
  }
}

.all-product {
  text-align: center;
  padding: 78px 20px 25px;
  color: #444444;
  position: relative;
  border-top: 1px solid #ebebeb;
}
.all-product::before {
  background-image: url("../img/mobile-images/plus.svg");
  position: absolute;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  content: "";
  top: 25px;
  left: 46%;
}
@media (min-width: 768px) {
  .all-product {
    padding: 39px 37px;
    border: 1px solid #ebebeb;
  }
  .all-product::before {
    background-image: url("../img/tablet-images/plus.svg");
    position: absolute;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    content: "";
    top: 25px;
    left: 46%;
  }
}
@media (min-width: 1440px) {
  .all-product {
    padding: 0;
  }
}

.all-product__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 8px;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .all-product__title {
    font-size: 20px;
    line-height: 22px;
    padding: 122px 57px 23px 58px;
  }
}
@media (min-width: 768px) {
  .all-product__title {
    padding: 160px 55px 23px 56px;
  }
}

.all-product__description {
  font-family: "Lato Regular", "Arial", sans-serif;
  margin: 0;
  padding-bottom: 21px;
}
@media (min-width: 768px) {
  .all-product__description {
    line-height: 18px;
    padding: 0 42px 87px;
  }
}

.all-product__button-order {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  display: block;
  text-decoration: none;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
  padding: 10px 94px;
}
@media (min-width: 768px) {
  .all-product__button-order {
    padding: 10px 79px;
  }
}
@media (min-width: 768px) {
  .all-product__button-order {
    padding: 13px 30px;
    margin: 38px 41px;
  }
}

.additional-product {
  padding: 25px 0 35px;
  border-top: 1px solid #ebebeb;
  position: relative;
}
.additional-product::after {
  content: "";
  position: absolute;
  background-color: #68b738;
  width: 100%;
  height: 2px;
  top: 4%;
  z-index: -1;
}
@media (min-width: 768px) {
  .additional-product {
    padding: 0;
    border: none;
  }
  .additional-product::after {
    top: 2%;
    left: 4%;
  }
}
@media (min-width: 1440px) {
  .additional-product::after {
    left: 0;
    top: 4%;
  }
}

.additional-product__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0 20px 36px;
  position: relative;
  display: inline-block;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .additional-product__title {
    padding: 0 37px 80px;
    font-size: 36px;
    line-height: 36px;
  }
  .additional-product__title::before {
    content: "";
    position: absolute;
    background-color: #68b738;
    width: 30px;
    height: 2px;
    right: calc(100% - 2px);
    top: 19%;
  }
}
@media (min-width: 1440px) {
  .additional-product__title {
    padding: 0 110px 81px;
    max-width: 2500px;
    margin: 0 auto;
  }
  .additional-product__title::before {
    width: 100%;
    right: calc(100% - 66px);
  }
}

@media (min-width: 1440px) {
  .additional-product__wrapper {
    display: grid;
    column-gap: 79px;
    grid-template-columns: 1fr 245px;
    padding: 0 110px 86px;
    max-width: 2500px;
    margin: 0 auto;
  }
}

.additional-product__list {
  margin: 0;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .additional-product__list {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.additional-product__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  border-top: 1px solid #cdcdcd;
  padding-bottom: 19px;
}
.additional-product__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional-product__item {
    padding: 26px 38px 28px;
  }
}
@media (min-width: 1440px) {
  .additional-product__item {
    display: flex;
    padding: 15px 0 17px;
    align-items: center;
    justify-content: space-between;
  }
}

.additional-product__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding: 13px 0;
  color: #222222;
}
@media (min-width: 768px) {
  .additional-product__name {
    grid-column-start: 1;
    grid-row-start: 2;
    line-height: 20px;
    font-size: 20px;
    padding: 0;
  }
}

.additional-product__description {
  font-family: "Lato regular", "Arial", sans-serif;
  line-height: 14px;
  grid-row-start: 2;
  display: flex;
  grid-column: 1/3;
  justify-content: space-between;
  margin: 0;
  padding: 13px 0 15px;
  flex-wrap: wrap;
  color: #444444;
}
@media (min-width: 768px) {
  .additional-product__description {
    justify-content: flex-end;
    line-height: 20px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .additional-product__form {
    padding-right: 50px;
  }
}
@media (min-width: 1440px) {
  .additional-product__form {
    padding: 0;
  }
}

.additional-product__price {
  margin: 0;
}

.additional-product__button-order {
  font-size: 16px;
  line-height: 20px;
  grid-row: 3;
  grid-column: 1/3;
  text-align: center;
  text-decoration: none;
  color: #000000;
  color: #ffffff;
  background-color: #68b738;
  padding: 10px 109px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .additional-product__button-order {
    margin-top: 25px;
  }
}
@media (min-width: 1440px) {
  .additional-product__button-order {
    margin: 0;
    padding: 13px 92px;
  }
}

.promo-present {
  text-align: center;
  margin: 35px 20px 0;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/mobile-images/carrying-case.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  align-items: center;
  height: 290px;
}
@media (min-resolution: 2dppx) {
  .promo-present {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/mobile-images/carrying-case@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 290px;
  }
}
@media (min-width: 768px) {
  .promo-present {
    flex-direction: row;
    margin: 69px 0 76px;
    justify-content: space-between;
    gap: 265px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/tablet-images/carrying-case.png");
    height: 202px;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .promo-present {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/tablet-images/carrying-case@2x.png");
    background-size: auto 202px;
  }
}
@media (min-width: 1440px) {
  .promo-present {
    flex-direction: column;
    justify-content: end;
    margin: 0;
    padding: 0;
    gap: 0;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/desktop-images/carrying-case.png");
    height: 289px;
  }
}
@media (min-width: 1440px) and (min-resolution: 2dppx) {
  .promo-present {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/desktop-images/carrying-case@2x.png");
    background-size: auto 289px;
  }
}

@media (min-width: 768px) {
  .promo-present__icon-gift {
    padding: 57px 0 60px 77px;
  }
}
@media (min-width: 768px) {
  .promo-present__icon-gift {
    padding: 0;
  }
}

.promo-present__description {
  font-family: "Lato Regular", "Arial", sans-serif;
  line-height: 20px;
  margin: 0;
  padding: 48px 61px 43px 58px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .promo-present__description {
    width: 30%;
    text-align: start;
    padding: 71px 124px 69px 0;
  }
}
@media (min-width: 1440px) {
  .promo-present__description {
    padding: 46px 42px 42px;
    text-align: center;
    width: 161px;
  }
}

@media (min-width: 768px) {
  .form-container {
    padding: 65px 30px 72px;
  }
}
@media (min-width: 1440px) {
  .form-container {
    padding: 74px 0 53px;
    max-width: 2500px;
    margin: 0 auto;
  }
}

.form-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 20px 37px;
}
@media (min-width: 768px) {
  .form-title {
    padding: 0 0 54px 39px;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .form-title {
    padding: 0 110px 56px;
    max-width: 2500px;
    margin: 0 auto;
  }
}

.form-description {
  margin: 0;
  text-transform: uppercase;
  padding: 0 20px 39px;
}
@media (min-width: 768px) {
  .form-description {
    padding: 0 0 54px 39px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .form-description {
    padding: 0 110px 66px;
    max-width: 2500px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .form {
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .form {
    padding: 0 110px 82px;
  }
}

@media (min-width: 768px) {
  .form__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
    padding: 0 0 75px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper {
    padding: 0 0 69px;
  }
}

.form__wrapper-cat-information {
  display: flex;
  align-items: center;
}

.form__label {
  font-size: 16px;
  padding-right: 13px;
}
@media (min-width: 768px) {
  .form__label {
    font-size: 20px;
    line-height: 30px;
  }
}
.form__label--weight {
  padding-right: 21px;
}
@media (min-width: 1440px) {
  .form__label--weight {
    padding-right: 30px;
  }
}
.form__label--age {
  padding-right: 18px;
}
@media (min-width: 1440px) {
  .form__label--age {
    padding-right: 20px;
  }
}

.form__container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  border: 1px solid #cdcdcd;
  padding: 14px 15px;
}
@media (min-width: 768px) {
  .form__container {
    padding: 11px 19px;
  }
}

.form__input {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 1;
  border: none;
  padding: 0;
}
.form__input--cat-data {
  border: 1px solid #e7e7e7;
  padding: 14px 20px;
}
@media (min-width: 768px) {
  .form__input {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .form__input {
    z-index: 1;
  }
}

.form__contact {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  row-gap: 14px;
  position: relative;
  padding: 0 20px 24px;
}
.form__contact::before {
  content: "";
  height: 2px;
  position: absolute;
  background-color: #68b738;
  bottom: 150%;
  z-index: -1;
  width: 96%;
}
@media (min-width: 768px) {
  .form__contact {
    padding: 0 0 65px;
  }
  .form__contact::before {
    content: "";
    padding: 0 30px;
    width: 112%;
    bottom: 142%;
    left: -11%;
  }
}
@media (min-width: 1440px) {
  .form__contact {
    flex-direction: row;
    padding: 0 0 67px;
    gap: 78px;
  }
  .form__contact::before {
    width: 115%;
    bottom: 162%;
  }
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  background-color: #ffffff;
  margin-left: -20px;
  padding: 0 20px 35px;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 71px;
    padding-left: 39px;
    padding-right: 39px;
    margin-left: -41px;
  }
}
@media (min-width: 1440px) {
  .form__title {
    margin-left: -41px;
  }
}

@media (min-width: 768px) {
  .form__title-background {
    display: none;
  }
}

.form__wrapper-host {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.form__request {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: #ffffff;
  background-color: #68b738;
  cursor: pointer;
  padding: 7px 44px;
}
@media (min-width: 768px) {
  .form__request {
    font-size: 20px;
    padding: 13px 45px;
  }
}
@media (min-width: 1440px) {
  .form__request {
    padding: 13px 188px;
  }
}

.form__mandatory-field {
  font-family: "Lato Regular", "Arial", sans-serif;
  line-height: 16px;
  text-align: center;
  margin: 0;
  padding: 21px 0 32px;
}

.wrapper-data {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  padding: 0 20px 24px;
}
@media (min-width: 768px) {
  .wrapper-data {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .wrapper-data {
    padding: 0;
  }
}

.program-selection {
  margin: 0;
  padding: 0;
  border: none;
}
@media (min-width: 768px) {
  .program-selection {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
  }
}

.program-selection__list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 22px 20px 19px;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .program-selection__list {
    padding: 25px 29px;
    row-gap: 13px;
    border: 1px solid #e7e7e7;
  }
}
@media (min-width: 1440px) {
  .program-selection__list {
    padding: 25px 28px;
  }
}

.program-selection__item {
  padding-bottom: 20px;
}

.program-selection__label {
  position: relative;
}

.program-selection__input {
  margin: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.program-selection__input[type=radio]:checked + .program-selection__control-mark::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .program-selection__input[type=radio]:checked + .program-selection__control-mark::before {
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.program-selection__control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  content: "";
  border: 1px solid;
  border-radius: 50%;
  left: 0;
  top: -3px;
}
@media (min-width: 768px) {
  .program-selection__control-mark {
    width: 40px;
    height: 40px;
  }
}

.program-selection__text {
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 45px;
}

.comment {
  margin: 0;
  padding: 0 20px 23px;
  border: none;
  padding-bottom: 23px;
  position: relative;
}
.comment::before {
  content: "";
  height: 2px;
  position: absolute;
  background-color: #68b738;
  bottom: 125%;
  z-index: -1;
  width: 96%;
}
@media (min-width: 768px) {
  .comment {
    padding: 0;
    padding-bottom: 65px;
  }
  .comment::before {
    width: 123%;
    left: -12%;
    bottom: 136%;
  }
}
@media (min-width: 1440px) {
  .comment::before {
    width: 118%;
    left: -9%;
  }
}

.comment__title {
  font-size: 24px;
  line-height: 26px;
  padding: 0 20px 38px;
  margin-left: -20px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .comment__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px 76px;
    margin-left: -40px;
  }
}
@media (min-width: 1440px) {
  .comment__title {
    margin-left: -43px;
  }
}

.comment__user-field {
  width: 100%;
  min-height: 151px;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .comment__user-field {
    min-height: 174px;
  }
}

.supplement {
  margin: 0;
  border: none;
  position: relative;
  padding: 0 20px 34px;
}
.supplement::before {
  content: "";
  height: 2px;
  position: absolute;
  background-color: #68b738;
  bottom: 123%;
  z-index: -1;
  width: 96%;
}
@media (min-width: 768px) {
  .supplement {
    padding: 0 0 54px;
    margin-left: -40px;
  }
  .supplement::before {
    width: 133%;
    left: -22%;
    bottom: 146%;
  }
}
@media (min-width: 1440px) {
  .supplement {
    padding: 0 0 61px;
    margin: 0;
  }
  .supplement::before {
    width: 118%;
    left: -9%;
    bottom: 171%;
  }
}

.supplement__title {
  font-size: 24px;
  line-height: 26px;
  padding: 0 20px 34px;
  background-color: #ffffff;
  margin-left: -20px;
}
@media (min-width: 768px) {
  .supplement__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px 57px;
  }
}

.supplement__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .supplement__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 137px;
  }
}
@media (min-width: 1440px) {
  .supplement__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.supplement__item {
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .supplement__item {
    padding: 0;
  }
}

.supplement__label {
  position: relative;
}

.supplement__input {
  margin: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.supplement__control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  content: "";
  border: 1px solid #cdcdcd;
  left: 0;
  top: -5px;
}
@media (min-width: 768px) {
  .supplement__control-mark {
    width: 40px;
    height: 40px;
  }
}

.supplement__input[type=checkbox]:checked + .supplement__control-mark::before {
  background-image: url("../img/mobile-images/tick.svg");
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 16px;
  content: "";
  position: absolute;
}

.supplement__text {
  font-size: 16px;
  padding-left: 45px;
}
@media (min-width: 768px) {
  .supplement__text {
    font-style: 20px;
    line-height: 30px;
    padding-left: 60px;
  }
}
/*# sourceMappingURL=style.css.map */